body {
    margin: 0;
    padding: 0;
}

.container-signing {
    height: 785px;
    width: 100%;
    font-family: 'Overlock', cursive;
}

.navbar {
    overflow: hidden;
    position: relative;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: grey;
}

.navbar #span-1 {
    margin-top: 0;
    padding-left: 300px;
    padding-top: 10px;
    font-size: 20px;

}

.navbar #span-2 a {
    margin-left: 40px;
    text-decoration: none;
    color: black;
}

.navbar #span-3 a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.navbar #span-2 a:hover {
    text-decoration: underline;
}

.navbar #span-3:hover {
    text-decoration: underline;
}

.navbar #span-4 img {
    width: 20px;
    height: 20px;
    margin-left: 150px;
}

.navbar #span-5 button {
    margin-left: 200px;
}

.navbar #span-6 button {
    margin-left: 20px;
}

.navbar #span-5 button {
    background-color: green;
    border: none;
    height: 30px;
    width: 70px;
}

.navbar #span-5 button a {
    text-decoration: none;
    color: black;
}

.navbar #span-6 button {
    background-color: blue;
    border: none;
    height: 30px;
    width: 70px;
}

.navbar #span-6 button a {
    text-decoration: none;
    color: black;
}

.navbar div {
    margin-top: 10px;
}

.navbar span input {
    width: 300px;
    margin-left: 40px;
    height: 25px;
    padding-left: 10px;
}

.signing-form {
    height: 685px;
}

.signup {
    height: 500px;
    width: 500px;
    background-color: black;
    margin-left: 500px;
    margin-top: 100px;
    border-radius: 7px 7px 7px 7px;
    color: white;
}

.signup input {
    background-color: grey;
    color: black;
    width: 60%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
}

.signup button {
    background-color: green;
    height: 30px;
    width: 60%;
    border-style: none;
    margin-left: 20%;
}

.signup #one {
  text-align: center;
  padding-top: 30px;
}

.signup #two {
  text-align: center;
  padding-top: 10px;
}

.signup #three p {
  margin-left: 20%;
}

.signin button {
    background-color: green;
    height: 30px;
    width: 60%;
    border-style: none;
    margin-left: 20%;
}

.signin {
    height: 400px;
    width: 500px;
    background-color: black;
    margin-left: 500px;
    margin-top: 100px;
    border-radius: 7px 7px 7px 7px;
    color: white;
}

.signin input {
    background-color: grey;
    color: black;
    width: 60%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
}

.signin #one {
  text-align: center;
  padding-top: 30px;
}

.signin #two {
  text-align: center;
  padding-top: 10px;
}

.signin #three p {
  margin-left: 20%;
}

.footer {
    height: 50px;
    background-color: black;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    color: white;
    text-align: center;
}

.container {
    height: 1100px;
    width: 100%;
    font-family: 'Overlock', cursive;
}


.bg-image {
    height: 1000px;
    width: 100%;
    background-image: url("img/home_bg.jpg");
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7))
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

.sidebar-directions {
    float: left;
    width: 40%;
    height: 1000px;
    overflow: hidden;
    position: relative;
    top: 0;
  }

.navigation-links {
    width: 60%;
    overflow: hidden;
    float: left;
    height: 1000px;
    background-color: red;
}

.inner-right-dir {
    height: 1000px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50%;
    width: 50%;
    background-color: black;
    overflow: hidden;
    position: relative;
    top: 0;
    color: white;

}

.inner-right-dir .my-name {
    height: 140px;
    margin-left: 50px;
    margin-top: 0;
    width: 200px;
    border-bottom: 1px solid grey;
}

.my-name h1 {
    margin-left: 30px;
    padding-top: 40px;
    font-family: 'Great Vibes', cursive;
}

.inner-right-dir .welcome {
    height: 380px;
    margin-left: 20px;
    position: relative;
    top: 0;
    width: 260px;
    border-bottom: 1px solid grey;
    overflow: hidden;
    position: relative;
    top: 0;
    text-align: center;
}

.welcome h3 {
    text-align: center;

}

.welcome p{
    text-align: center
}

.welcome input {
    width: 200px;
    height: 30px;
    background-color: grey;
    border: none;
}

.inner-right-dir .more-info {
    height: 165px;
    margin-left: 0;
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
}

.more-info img {
    padding-left: 5px;
    margin-left: 5px;
}

.nav-links-top {
    height: 150px;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    position: absolute;
    background-color: blue;
}

.meal-order-menu {
  height:
}

.nav-links {
    height: 80px;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 0;

}

.nav-links #one {
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 50px;
}

.nav-links #two {
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 20px;
}
.nav-links #three {
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 20px;
}
.nav-links #four {
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 20px;
}

.nav-links span a {
    text-decoration: none;
    color: white;
}

.nav-links span a:hover {
    color: red;
}
